<% provide(:title, "Proyecto Emergencias") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Emergencias 2016</h1>

    <p>Sra. Nagle and Sra. Bethea's students investigate and create a product of their choice to demonstrate emergency procedures for a natural disaster in their community. The essential question students had to answer in their project was – How do we prepare for emergency situations that could affect our community?</p>

    <p>Los estudiantes de la Sra. Nagle y la Sra. Bethea investigan y crean un producto de su propia elección para demostrar los procedimientos a seguir en caso de un desastre natural en su propia comunidad. La pregunta esencial que los estudiantes tuvieron que contestar en su proyecto fue – ¿Cómo nos preparamos para una situación de emergencia en nuestra comunidad?</p>

    <!--
    <p>How do we prepare for emergency situations that could affect our community? Sra. Nagle and Sra. Bethea’s Spanish 3 students demonstrate emergency procedures for natural disaster scenarios.</p>

    <p><em>¿Cómo nos preparamos para una situación de emergencia en nuestra comunidad? Los estudiantes de Español 3 de la Sra. Nagle y de la Sra. Bethea demuestran procedimientos de emergencia para casos de desastres naturales.</em></p> -->

    <p class="center">Visit also <%= link_to "Proyecto Comida", comida16_path %>.</p>
  </div>

  <p class="center"><em>(Click to open in a new tab)</em></p>
  
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Huracanes", asset_path("/celia/hurricane.pdf"), target: '_blank' %> por Mark, Sameer y Paige</li>
    
    <li class="list-group-item"><%= link_to "Incendios", asset_path("/celia/firesafety.pdf"), target: '_blank' %> por Michael Farley y Carter Wijnstien</li>

    <li class="list-group-item"><%= link_to "Incendios en la escuela", asset_path("/celia/incendioescuela.pdf"), target: '_blank' %> por Ryan Capriotti, Nehal Huq y Gerald Doe</li>

    <li class="list-group-item"><%= link_to "Incendios en el hogar", asset_path("/celia/incendios.pdf"), target: '_blank' %> por Stephanie Hernández y Roma Sharma</li>

    <li class="list-group-item"><%= link_to "Terremoto y tsunami en Chile", asset_path("/celia/terremoto.pdf"), target: '_blank' %> por Michael Nolan</li>

    <li class="list-group-item"><%= link_to "Tormentas de nieve", asset_path("/celia/tormentadenieve.pdf"), target: '_blank' %> por Hiya Kishore, Raina Nanavaty, y Pranav Samineni</li>

    <li class="list-group-item"><%= link_to "Tornados", asset_path("/celia/tornado.pdf"), target: '_blank' %> por Arul, Bryan, y Jake</li>
  </ul>  

  <br>
  
  <p class="center">Don't forget your pets in case of an emergency! :)</p>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZqQMxqStPw0" frameborder="0" allowfullscreen></iframe>
  </div>
  
</div>
