<% provide(:title, "Arte Hispano") %>

<div class="container">
  <div class="jumbotron">
    <h1>El Arte en el Mundo Hispano</h1>

    <p>Sra. Leiva-Moore's and Sra. Bethea's Spanish 4H students explored visual art from the Hispanic world. Students used visual and oral media to introduce artists' biographies, styles and representative works.</p>

    <p><em>Los alumnos de Español 4H de la Sra. Leiva-Moore y de la Sra. Bethea exploraron el arte plástico hispano. Mediante sus presentaciones, los estudiantes difundieron las biografías, estilos y obras de distintos artistas.</em></p>
  </div>

  <p class="center"><em>(Click the artist's name to open in a new tab)</em></p>
  
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Salvador Dalí", asset_path("/MLVartistas16/Dali.pdf"), target: '_blank' %> por Ariana Cordova</li>
    
    <li class="list-group-item"><%= link_to "Remedios Varo", asset_path("/MLVartistas16/Varo.pdf"), target: '_blank' %> por Brandon Sams</li>
    
    <li class="list-group-item"><%= link_to "Pablo Picasso", asset_path("/MLVartistas16/Picasso.pdf"), target: '_blank' %> por Riya Vashisht</li>
    
    <li class="list-group-item"><%= link_to "Olga Costa", asset_path("/MLVartistas16/Costa.pdf"), target: '_blank' %> por Celeste N.</li>
    
    <li class="list-group-item"><%= link_to "Lilliam Nieves", asset_path("/MLVartistas16/Nieves.pdf"), target: '_blank' %> por Renu Mathew</li>
    
    <li class="list-group-item"><%= link_to "José Clemente Orozco", asset_path("/MLVartistas16/Orozco.pdf"), target: '_blank' %> por Maryam Majid</li>
    
    <li class="list-group-item"><%= link_to "Joaquín Sorolla", asset_path("/MLVartistas16/Sorolla.pdf"), target: '_blank' %> por Luke Harris</li>
    
    <li class="list-group-item"><%= link_to "Inés Puyó", asset_path("/MLVartistas16/Puyo.pdf"), target: '_blank' %> por Porter Carlson</li>
    
    <li class="list-group-item"><%= link_to "Frida Kahlo", asset_path("/MLVartistas16/Kahlo.pdf"), target: '_blank' %> por Nicole López</li>
    
    <li class="list-group-item"><%= link_to "Fernando Botero", asset_path("/MLVartistas16/Botero.pdf"), target: '_blank' %> por Uday Sidhu</li>
    
    <li class="list-group-item"><%= link_to "Diego Velázquez", asset_path("/MLVartistas16/Velazquez.pdf"), target: '_blank' %> por Eric Levy</li>
    
    <li class="list-group-item"><%= link_to "Antonio Gaudí", asset_path("/MLVartistas16/Gaudi.pdf"), target: '_blank' %> por Danielle Tudahl</li>
    
    <li class="list-group-item"><%= link_to "Soraida Martínez", asset_path("/MLVartistas16/Martinez.pdf"), target: '_blank' %> por Brittany Murphy</li>
  </ul>  
</div>