<footer class="footer text-center">
  <ul class="list-inline">
    <li><small><%= link_to "HOME", root_path %></small></li>
    <li><small><%= link_to "SPANISH 2", rutinas2016_path %></small></li>
    <li><small><%= link_to "SPANISH 3", emergencias16_path %></small></li>
    <li><small><%= link_to "SPANISH 4", artistas16_path %></small></li>
    <li><small><%= link_to "SPANISH 5", quijote16_path %></small></li>
    <li><small><%= link_to "ABOUT", about_path %></small></li>
  </ul>
</footer>